<div class="<%= dom_class(video) %>" id="<%= dom_id(video) %>">
  <div class="wrapper">
    <div
      class="youtube_container"
      id="youtube_container_<%= video.id %>"
      data-youtube-id="<%= video.youtube_id %>"
      style="background-image: url('//img.youtube.com/vi/<%= video.youtube_id %>/mqdefault.jpg')"
      >
      <%= image_tag('play_button.png', class: 'play_button') %>
    </div>
    <div class="metadata">
      <%= video.dce_lti_user.lis_person_name_full %>
      <span class="date">
        <%= l video.created_at, format: :short_date_time %>
      </span>
    </div>
    <div class="controls">
      <% if video.review_required? %>
        <span class="approved badge <%= video.approved %>">
          <%= t("videos.approval_state_#{video.approved}") %>
        </span>
      <% end %>
      <% if course.user_has_role?(current_user,'instructor') %>
        <%= render 'dropdown', video: video %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
