<div class="full-width">
  <div class="upload-widget">
    <div id="upload_widget" data-course-title="<%= course.title %>"></div>
    <div id="upload-description-message">
      <%= raw markdown_format(course.upload_description) %>
    </div>
    <p id="uploading_in_progress" class="progress_message" style="display: none;">
      <%= t('videos.uploading_in_progress') %>
    </p>
    <% if @my_video.present? %>
      <p class="video_present progress_message"><%= t('videos.already_uploaded') %></p>
    <% end %>
    <% if course.review_required? %>
      <p class="instructor_review_required progress_message"><%= t('videos.review_required') %></p>
    <% end %>
  </div>
  <div class="upload-player">
    <div id="player"></div>
  </div>
</div>
